/*-----ALL-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----HEADER-----*/

.header {
    padding: 5px;
    background-color: #2f68aa;
    color: white;
    font-size: 10px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    white-space: nowrap;
}

.logoparent {
    width: 15vw;
    display: flex;
    align-items: flex-start;
}

.logo {
    height: 50px;
    width: 50px;
    padding: auto;
}

.titleparent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    font-family: 'Bebas Neue', cursive;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.cartparent {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn {
    transition-duration: 0.4s;
    background-color: white;
    border-radius: 5px;
}

#cartbtn {
    margin: 2px;
    width: 20px;
    height: 20px;
}

#text {
    height: 350px;
    display: flex;
    align-items: end;
    justify-content: right;
    font-size: 30px;
    overflow: hidden;
}

#bgcolor {
    background-color: rgb(255, 221, 25);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}

/*-----BODY-----*/

.background {
    background: url(https://github.com/ginkgob/Buy-it/blob/main/img/front%20cover.jpg?raw=true)no-repeat;
    background-size: cover;
    height: 350px;
    overflow: hidden;
}

#bgcolor {
    background-color: rgb(255, 221, 25);
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    overflow: hidden;
}

#bodysection {
    width: 100%;
    height: 60vh;
    margin: 5px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-gap: 5px;
    justify-content: center;
}

#bioimg {

    margin-top: 5%;
    width: 40vw;
    height: 55vw;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 17px;
}

#bimg {

    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    margin-top: 1%;
    width: 43vw;
    height: 55vw;
    margin-left: -5%;
}

#bioinfo {

    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 19px;
    margin-top: 6%;
    width: 47vw;
    height: 56vw;
}

#titleBio {
    display: flex;
    align-items: center;
    font-size:large;
    font-weight: bold;

}

#infotext {
    align-items: center;
    font-size: small;
    text-align: justify;
    text-justify: inter-word;


}

#price {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: purple;
    grid-column: 1/3;
}

.video {
    display: flex;
    margin-top: 2%; 
    margin-bottom: 2%;
    justify-content: center;
    }
/*-----FOOTER-----*/

.contacto {
    padding: 1rem;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    text-align: center;
}

#rrss {
    padding: 1.5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.logorrss {
    justify-self: center;
}

.names {
    color: white;
}

.about {
    height: 40vh;
    font-size: large;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(47, 104, 170);
}

.text {
    padding: 0.2rem
}

#upperbox {
    width: 50vw;
    height: 30vh;
    font-size: 3vh;
}

#aboutus {
    font-weight: bolder;
}

#bottombox {
    grid-column: 1/3;
    text-align: center;
    font-size: 2vh;
}