/*-----ALL-----*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----HEADER-----*/

.header {
    padding: 20px;
    background-color: #2f68aa;
    color: white;
    font-size: 10px;
}

.logo {
    float: left;
    height: 15px;
    width: 15px;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

/*-----BODY-----*/

#bodysection {
    width: 100%;
    height: 115vh;
    margin: 5px;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    grid-gap: 5px;
    justify-content: center;
}

#bioimg {

    margin-top: 5%;
    width: 40vw;
    height: 55vw;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 17px;
}

#bimg {
    width: 40vw;
    height: 47vh;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    margin-top: 1%;
    width: 43vw;
    height: 55vw;
}

#bioinfo {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
}

#price {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: purple;
    grid-column: 1/3;
}

/*-----FOOTER-----*/

.contacto {
    padding: 1rem;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    text-align: center;
}

#rrss {
    padding: 1.5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.logorrss {
    justify-self: center;
}

.names {
    color: white;
}

.about {
    height: 40vh;
    font-size: large;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(47, 104, 170);
}

.text {
    padding: 0.2rem
}

#upperbox {
    width: 50vw;
    height: 30vh;
    font-size: 3vh;
}

#aboutus {
    font-weight: bolder;
}

#bottombox {
    grid-column: 1/3;
    text-align: center;
    font-size: 2vh;
}